@import "../variables.scss";

.header {
  height: $header_height;
  border: solid 1px $border-color;
}

.linksBar {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 15px;
  }
  .navLink {
    font-size: 1.2rem;
    color: $text-color;
    text-decoration: none;
    &.active {
      color: $primary-color;
    }
  }
}
